body {
	background-color: black;
	color: #dddddd;
	font: 15px arial, sans-serif;
	margin: 70px;
}

h1, h2, h3, h4 {
	color: #4444ff;
}

code {
	color: #ff4444;
}

a {
	text-decoration: none;
    color: hotpink;
}

a:visited {
	color: green;
}

a:hover {
    color: green;
}